import { FC } from 'react';
import type { {{pascalCase componentName}}Props } from './types';

export const {{pascalCase componentName}}: FC<{{pascalCase componentName}}Props> = () => {
	return (
		<div>
			<h1>{{pascalCase componentName}}</h1>
		</div>
	);
};
